* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #60c;
  color: white;
}
.App {
  margin: 0 auto;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: Helvetica, Arial, sans-serif;
}
p {
  text-align: center;
  font-weight: 500;
}

.notification {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f13a59;
  font-weight: bolder;
  font-size: 25px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  padding: 0 20px;
  height: 50px;
  border: 2px solid #e6e6e6;
  background: white;
  border-bottom-width: 3px;
  border-radius: 5px;
  outline: 0;
  transition: all 0.7s ease;
}
textarea {
  width: 100%;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  padding: 0 20px;
  height: 200px;
  border: 1px solid #e6e6e6;
  border-bottom-width: 3px;
  border-radius: 5px;
  outline: 0;
  transition: all 0.7s ease;
}
button {
  padding: 0 20px;
  text-align: center;
  line-height: 30px;
  background: #333;
  color: white;
  cursor: pointer;
  border: 1px solid #60c;
  border-radius: 5px;
  outline: 0;
  height: 50px;
  font-size: 14pt;
}
button:hover {
  opacity: 0.9;
  background-color: black;
}
button:active {
  transform: translateY(4px);
}
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
@media only screen and (max-width: 425px) {
  button,
  form input[type="text"],
  form input[type="email"],
  form input[type="password"] {
    width: 100%;
  }
}

@media only screen and (min-width: 320px) {
  .welcomereg {
    font-size: 10pt;
  }
}
